.blog-grid {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 56px;
}
.blog-container h2 {
  margin-top: 80px;
  margin-bottom: 11px;
  margin-left: 56px;
}
.blog-container img {
  margin: 0 auto;
}

.blog-grid img {
  border-radius: 20px 20px 0px 0px;
}
.blog-text {
  width: 277px;
  height: 259px;
  background-color: #fef6e7;
  margin-left: 24px;
  margin: 0 auto;
  border-radius: 0px 0px 20px 20px;
}
.blog-text h3 {
  font-size: 1.25rem;
  line-height: 30px;
  color: #4d4d4d;
  margin-left: 24px;
  margin-top: 24px;
}
.blog-text p {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #9f9f9f;
  margin-left: 24px;
  margin-top: 16px;
  margin-bottom: 24px;
}
.blog-text button {
  width: 153px;
  height: 48px;
  border-radius: 10px;
  background-color: #fbb900;
  border: 1px solid #f0d075;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 90px;
  text-transform: uppercase;
  margin-left: 24px;
  margin-bottom: 24px;
}
.blog-bolinha {
  margin-left: 25px;
  margin-top: 32px;
}
