.insta-container{
  max-width: 1280px;
  margin-top: 88px;
}
.insta-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.insta-top h2{
  font-size: 2rem;
  line-height: 3rem;
  color: #4d4d4d;
  margin-left: 56px;
}
#blog h2{
  font-size: 2rem;
  line-height: 3rem;
  color: #4d4d4d;
  margin-left: 56px;
}
.insta-top a{
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #fbb900;
  text-decoration: underline;
  margin-right: 56px;
}

/* Fotos */
.insta-fotos{
  width: 1280px;
}
.insta-fotos ul{
  display: flex;
}